name: Build and Deploy to Azure
on:
 push:
 branches: [ main ]
jobs:
 build:
 runs-on: ubuntu-latest
 steps:
 - uses: actions/checkout@v3
 - name: Login to Docker Hub
 uses: docker/login-action@v2
 with:
 username: ${{ secrets.DOCKER_USERNAME }}
 password: ${{ secrets.DOCKER_TOKEN }}
 - name: Build Docker image
 run: docker build -t ${{ secrets.DOCKER_USERNAME }}/vue-app:${{ github.
sha }} .
 - name: Push Docker image
 run: docker push ${{ secrets.DOCKER_USERNAME }}/vue-app:${{ github.sha
}}
 - name: Deploy to Azure Web App
 uses: azure/webapps-deploy@v2
 with:
 app-name: pokedex
 publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
 images: ${{ secrets.DOCKER_USERNAME }}/vue-app:${{ github.sha }}